[2020-12-13 10:16] txoof opened #1 "When starting as a daemon from systemd, no images are shown until first plugin timesout"
When starting from systemd at boot, PaperPi may fail to show the splash screen and the first module. This is due to a `NoneType` object being passed to the `epdWrite()` function.

This has been exceptionally difficult to debug because it only happens at boot time from systemd. When started from the command line, this problem does not manifest.

Logging shows the image is generated, but fails to pa

[2021-04-09 23:24] ZubaZ21 opened #2 "AttributeError: 'EPD' object has no attribute 'display'"
Raspberry Pi 3 Model B Rev 1.2
Buster
Waveshare 3in7

I am able to run the waveshare demo

I have disabled all plugins so the only thing changed is the display_type

[main]
# waveshare display type
display_type = epd3in7

And yet, when I run the executable . . . failure:

$ ./paperpi
Traceback (most recent call last):
  File "paperpi/paperpi.py", line 584, in <module>
  File "paperpi/paperpi.py",

[2021-04-10 20:14] txoof commented on #2
@ZubaZ21

It looks like the 3in7 [display does not conform to the same standards](https://github.com/waveshare/e-Paper/blob/af9694c602fb24d776cd0f0b3e073a477294e3d8/RaspberryPi_JetsonNano/python/lib/waveshare_epd/epd3in7.py#L388) as the other displays. I should have caught this when putting together the documentation.

I'll see if there's a way to patch around this and fix this up without too much

[2021-04-10 22:18] ZubaZ21 commented on #2
Of course!

[2021-04-11 15:10] txoof commented on #2
@ZubaZ21
I think I have a solution; I've done a bit of a kludge on the base library that runs this to try and fix the issue.

The [tgz linked here](https://github.com/txoof/epdlib/raw/grayscale/Screen.tgz) can be executed with `./Screen`

When prompted, enter your screen type to run a demo. If all goes well, you should four different versions of the same text displayed sequentially in different or

[2021-04-11 15:55] ZubaZ21 commented on #2
Output was displayed.
Of note (and it may be as intended but I don't know clearly what was being tested): The screen was not cleared before your test ran or between the changes or orientation.

Lastly, thanks for finding an issue and not making me feel like a damn fool.

![PXL_20210411_155232293](https://user-images.githubusercontent.com/82243853/114311413-a2c0b700-9abc-11eb-9e9e-5e0197714130.jpg)

[2021-04-11 18:10] txoof commented on #2
@ZubaZ21: Well, that's progress!

It should have displayed the text in four different orientations, clearing the screen between each redraw.

I suspect the 3in7 screen also has a weird clear function from the other screens. I suspect I can sort this out too. Can you share the debug output (all of it)?

Thanks for testing this out. It's super helpful to get feedback. Sometimes folks leave trouble t

[2021-04-11 18:36] ZubaZ21 commented on #2
Happy to help.

For what it's worth, the demo provided by waveshare clears as expected.

Ummm... is the debug write to a log? Or what's the best way to output?
(Or I can just copy/pasta?)

[2021-04-11 18:51] txoof commented on #2
Yeah, you can just copy paste from the terminal output. There's probably several screens worth, but I'll take it all. You can make it easier to read by surrounding it with three back ticks (```) before and after. That will make it fixed width and easier for me to read.

[code]

In other news, the reason my code doesn't work properly is because the waveshare libraries are **GARBAGE**. The clear met

[2021-04-11 18:57] txoof commented on #2
[Here's an updated version of the demo](https://github.com/txoof/epdlib/raw/grayscale/Screen.tgz)

Once we get that ironed out, I can build paper_pi against the library and push out a version that will hopefully work for you.

[2021-04-11 19:52] ZubaZ21 commented on #2
Latest build.  No love (or rather, the same love); no clearing of things.

[code]

[2021-04-11 20:20] ZubaZ21 commented on #2
v0.3.0
[code]

[2021-04-11 20:42] ZubaZ21 commented on #2
[code]

[2021-04-12 13:57] txoof commented on #2
@ZubaZ21
Making some progress. New version available in the grayscale channel -- https://github.com/txoof/epdlib/raw/grayscale/Screen.tgz

[2021-04-12 14:59] ZubaZ21 commented on #2
I didn't expect to hear from you so soon.

Report:

- No initial clear
- Text is HUGE and doesn't fit the screen
- No clearing between rotations
- Text appears gray/grey

Video: https://photos.app.goo.gl/RgtHw8mEEe9Wuovv8

Debug:
[code]

[2021-04-12 17:43] txoof commented on #2
I had a flash of insight while I was eating lunch: my insight was different wrong. Back to reverse engineering the craptacular driver file.

I'm beginning to think it might just be easier to rewrite the entire driver stack and start from scratch. The waveshare libraries are a maze of unused arguments, poorly named functions and duplicate chunks of code.

This will be a fun project...

[2021-04-14 19:56] txoof commented on #2
@ZubaZ21
I've started building my own set of drivers based on the spec sheets. This is helping me have a much better understanding of how the drivers work so I can hopefully trouble shoot this problem.

There's a **lot** of copy/pasta going on leading to redundant chunks of code in the drivers and stuff that's got fat-fingered once and has propagated through all the drivers. Or, the spec sheets ar

[2021-04-14 19:59] ZubaZ21 commented on #2
I. AM. FURIOUS.  ;)

Good luck.  Have fun.  Learn all the things.

Let me know how I can help.

On Wed, Apr 14, 2021 at 3:56 PM Aaron Ciuffo ***@***.***>
wrote:

[2021-04-18 11:23] txoof commented on #2
@ZubaZ21
I've learned a lot, and maybe have an updated demo that *might* be ready to go.

Can you give it another try?

[2021-04-18 14:17] ZubaZ21 commented on #2
Did not clear on run nor between rotations.  Did clear at end.

[code]

[2021-04-18 20:01] txoof commented on #2
I'm gonna have to call uncle on this one. Without a 3in screen to test on, I'm just making guesses at this point.

In a fit of frustration, I even looked around to buy one, but couldn't find one for sale!

If you're interested in an upgrade, the 5in and 7in models are really nice and I've verified that they work with the EPD library that backend this project.

![5in screen](https://user-images.git

[2021-04-19 00:49] ZubaZ21 commented on #2
Understood.

If you are ever interested, this is the one I picked up.

https://www.waveshare.com/product/displays/e-paper/3.7inch-e-paper-hat.htm

Maybe this is how I learn python and drivers. 😂

It was good to meet a fellow Aaron.

Aaron
www.todaysagoodday.com

On Sun, Apr 18, 2021, 4:01 PM Aaron Ciuffo ***@***.***> wrote:

[2021-04-19 09:04] txoof commented on #2
@ZubaZ21
If you have some programming experience, python is ***dead easy*** to learn. If you're new to programming, python is a great language to start with too.

If you want to give it a go and have a fiddle with the epdlib, this would be an interesting project.  There's nothing too complex going on in the epd library. I can coach you through the important parts.

The WaveShare demo code is docum

[2021-04-22 17:46] ZubaZ21 commented on #2
See also: https://github.com/TomWhitwell/SlowMovie/issues/68 :)

[2021-04-24 18:35] txoof commented on #2
Now you've got an even better reason to buy a different model...

[2021-07-03 21:06] txoof commented on #2
@ZubaZ21
I've been hacking away at this for a while and I've determined that the epd3in7 is an odd-ball display that doesn't play by the same rules as the rest of the waveshare line.

I think it would be pretty easy to re-write the epd module if you wanted to dig into the spec sheet and reverse engineer the other panel modules. I started to do this, but with no 3.7 to test against, it was pretty h

[2021-07-03 21:06] #2 closed

[2021-07-04 17:54] txoof opened #3 "add better error handling on new_epdlib branch when epd library cannot be loaded"
crashes on unknown epd -- offer better feedback to user

[code]

[2021-07-04 17:59] txoof opened #4 "add better handling when IT8951 driver cannot be reached at init and possibly during run time"
When the driver board cannot be reached:
[code]

related to Issue #3

[2021-07-04 19:05] txoof opened #5 "Plugin Ideas"
* Pull quotes similar to [Audry](https://github.com/llvllch/bbq)
* Pull images from google image, imgr, etc. and display in rotation
* Add stock quotes plugin -- build similar to weather plugin allowing multiple stocks to be tracked on individual screens
* NYT Headlines
* NPR Headlines
*

[2021-07-04 19:07] txoof opened #6 "Make it possible to display animations on plugin screens"
This will likely require an entire rewrite of the plugin architecture and display loop.

[2021-07-04 19:09] txoof opened #7 "Change distribution method from Frozen PyInstaller glob"
Currently PaperPi is distributed as a single Frozen glob using PyInstaller. This is brittle, large and generally a pain to maintain. It is also not possible to add, test, or adjust plugins without rebuilding the entire project and redistributing it. This isn't ideal.

Finding a new distribution method would be much better.

[2021-07-13 20:39] txoof opened #8 "Command line option: --list_plugins has print statement in wrong location"
`--list_plugins` lists the plugins as it builds the list. The print statement is likely in the [wrong part of the loop](https://github.com/txoof/epd_display/blob/546574c964eb7cc9eeee8d887e8c30266bb65ec4/paperpi/library/get_help.py#L224-L225).

[2021-07-13 20:44] txoof opened #9 "command line arg --plugin_info appears to print info multiple times"
`--plugin_info` appears to print the module info multiple times. Print statement is likely called multiple times. Problem is likely [here](https://github.com/txoof/epd_display/blob/546574c964eb7cc9eeee8d887e8c30266bb65ec4/paperpi/paperpi.py#L525-L527 ) or [here](https://github.com/txoof/epd_display/blob/546574c964eb7cc9eeee8d887e8c30266bb65ec4/paperpi/library/get_help.py#L276)

This can likely be

[2021-07-13 20:47] txoof commented on #5
Added a [New Yorker Comic plugin ](https://github.com/txoof/epd_display/blob/new_epdlib/documentation/Plugins.md#newyorker)inspired by [Audry](https://github.com/llvllch/bbq)

[2021-07-16 15:50] txoof opened #10 "garbage collection for cached files"
Plugins should be able to clean up their private cache on demand.

add a method to `Plugin()` class that does garbage collection on cache

write into display loop garbage collection every N refreshes or Y days or something similar.

[2021-08-01 07:43] txoof opened #11 "crash on unknown plugin layout"
when an unknown layout is found, PaperPi crashes -- instead consider raising a `WARNING` and skip the loading of the module:
[code]

[2021-08-05 15:08] txoof opened #12 "uninstall does not appear to work properly"
`$ ./install.sh --uninstall` does not appear to work.

[2021-08-05 15:09] txoof opened #13 "Unknown waveshare module when set to HD and no VCOM setting"
With the following settings paperpi throws "unknown module HD" when no vcom is not set. This should indicate that there is a missing vcom setting rather than an unknown display type.

[code]

[2021-08-05 20:11] txoof commented on #13
resolved

[2021-08-05 20:11] #13 closed

[2021-08-07 21:19] txoof commented on #12
good joke. There's no method in the installer script to handle uninstall.

[2021-08-08 14:57] txoof opened #14 "change the way config files are loaded"
Currently system config and user config are loaded; when running as a user, skip the system config.
https://github.com/txoof/epd_display/blob/c94726d93216be1f71ceee72993b339da24aacd3/paperpi/paperpi.py#L135

[2021-08-08 15:00] txoof commented on #14
`paperpi -c /path/to/config` always tries to load `~/.config/com.txoof.paperpi/paperpi.ini` as well as the specified

[2021-08-08 19:36] txoof commented on #12
commit https://github.com/txoof/epd_display/commit/92f266d4c5165e1020b30dcda3dc1b95900df100#diff-9ce0ecb5babcaeff99522b4ea3fad1b00cd6a8b4a2f5f5b64d102f0643da5454 resolves

[2021-08-08 19:36] #12 closed

[2021-08-08 19:36] txoof commented on #14
commit https://github.com/txoof/epd_display/commit/3537d18b3529573e26f21a7bcaef8c17a05b0ca2#diff-9ce0ecb5babcaeff99522b4ea3fad1b00cd6a8b4a2f5f5b64d102f0643da5454 resolves

[2021-08-08 19:36] #14 closed

[2021-08-08 19:36] txoof commented on #9
resolved: https://github.com/txoof/epd_display/commit/35f7fef611c8c3c449edd0ecd42ce783a309da0f#diff-9ce0ecb5babcaeff99522b4ea3fad1b00cd6a8b4a2f5f5b64d102f0643da5454

[2021-08-08 19:36] #9 closed

[2021-08-08 19:37] txoof commented on #8
resolved: https://github.com/txoof/epd_display/commit/443c91d1a952814cbb6dc2b8d1cc6da141958dd8#diff-9ce0ecb5babcaeff99522b4ea3fad1b00cd6a8b4a2f5f5b64d102f0643da5454

[2021-08-08 19:37] #8 closed

[2021-08-11 12:19] txoof commented on #1
resolved by rewriting display loop

[2021-08-11 12:21] txoof opened #15 "New Yorker returns bad image data only when in daemon mode:"
`paperpi[1810]: 14:19:26 paperpi:update_loop:532:CRITICAL - Plugin: New Yorker Comic returned invalid image data; screen update skipped`

This appears to only be an issue when staring in daemon mode. This may be related to Issue #1

[2021-08-11 19:27] txoof commented on #1
added `force_update` method to 'Plugins' class; call this during the first run of the `plugin_update` in the display loop appears to fix this problem.

It's unclear why this is a problem only when running in daemon mode.

Probably best solution is to rewrite the `Plugin` class to better update on init and ensure there is always some image available.

[2021-08-24 05:47] txoof commented on #15
something strange was happening when in daemon mode; plugins were all returning `None` type objects when updated. Rewriting the display loop function to forcefully update all the plugins prior to entering the loop seems to have fixed this.

[2021-08-24 05:47] #15 closed

[2021-08-24 05:50] txoof opened #16 "allow layouts to be updated without restarting"
Layouts are initialized only at program startup. Once in the display loop, no further updates to the layout can be made.

To make dynamic layout changes possible, the display loop would need to accept an external signal to prompt for refreshing the plugin layouts.

[2021-09-14 18:26] txoof opened #17 "crash when lms_client cannot reach network"
unhandled exception when network is unreachable in lms_client plugin

[code]

[2021-10-03 05:43] txoof opened #18 "spotify plugin causes crash when local librespot client is not responding"
This appears to be due to a variable assignment issue in the spotify plugin that can be easily resoloved:

[code]

[2021-10-03 05:48] txoof commented on #10
closed with commit: 0ff057f082660f6138c370d3bfacaa96c73a5202

[2021-10-03 05:48] #10 closed

[2021-10-03 05:49] txoof commented on #1
fixed in commit 136a33356f3c194809d4d2bbfc41128e81420de3

[2021-10-03 05:49] #1 closed

[2021-10-04 19:21] txoof commented on #4
Complete traceback at startup:
[code]

[2021-10-05 18:04] txoof commented on #18
resolved with commit 2906cdf249acce779e4724ae88e94ef7348c046d

[2021-10-05 18:04] #18 closed

[2021-10-05 18:48] txoof commented on #17
resolved by f0e372f

[2021-10-05 18:48] #17 closed

[2021-11-01 20:32] txoof opened #19 "screen does not clear properly when daemon is stopped"
@jhaake2308
Screen does not clear when daemon is stopped through systemctl. Systemd may be killing the process before it has a chance to complete cleanup.

[2021-11-15 08:05] txoof opened #20 "Update_loop appears to ignore max_refresh value in config file"
See [issue here](https://github.com/txoof/epdlib/issues/21) from @jhaake2308

[2021-11-15 08:12] txoof commented on #20
Hmm. I've looked at the loop and it looks correct. I'll test this out on my development setup and see if I can reproduce it.

Thanks for the video and config file; that helps a lot.

[2021-11-15 08:15] txoof commented on #19
Anyone with Systemd experience that can look at this would be greatly appreciated.

[2021-11-15 19:05] txoof commented on #20
I can confirm that there's something wrong with the update loop. It always does a full refresh after four partial refreshes.

The problem is somewhere in the update loop.

[2021-11-15 19:23] txoof opened #21 "Document sanitize_vals() function"
convert() funciton is lacking a dock string in paperpy.py

[2021-11-15 19:26] txoof opened #22 "Consider migrating to ConfigArgParse"
See https://pypi.org/project/ConfigArgParse/

This does the same job as ArgConfigParse, but looks like it's better documented and maintained.

[2021-11-15 19:37] txoof commented on #20
@jhaake2308
Found the error; a default value from the command line was overriding the config file. It's been corrected and will be rolled into the next release.

[2021-11-15 20:10] txoof commented on #11
Resolved

[2021-11-15 20:10] #11 closed

[2021-11-15 22:58] txoof commented on #19
Try this https://stackoverflow.com/questions/18499497/how-to-process-sigterm-signal-gracefully

[2021-11-16 14:18] txoof commented on #19
@jhaake I think I've resolved this as well as issue #20 (ignoring max_refresh). Would you mind git pulling the pre_release branch and testing it out?

I've pushed a frozen executable [here](https://github.com/txoof/epd_display/raw/pre_release/paperpi_latest.tgz)

You can also clone the entire repo. and give it a go against your current plugin build.

[2021-11-16 16:22] jhaake2308 commented on #19
cloning the pre_release right now, will give feedback asap

[2021-11-16 16:55] jhaake2308 commented on #19
I was able to clone the repo and build paperpy with my plugin w/o errors. systemctl stop clears the screen right now, reproducable (doing it the wird time now ;) ). Also when shutting the pi down, it clears the screen.

The variable from #20 seems also to be honored with this release. No more refreshs
I am having no errors in syslog.

Anything more you want me to test?

[2021-11-16 17:17] txoof commented on #19
That's great news!

I've got it going on a test setup as well. I'll let it run for a few days before I call it good and merge it into the main branch.

Thanks for testing.

[2021-11-20 11:56] jhaake2308 commented on #19
seems to be running fine, no errors or crashes here

[2021-11-20 12:32] txoof commented on #19
Great. I've had a similar experience on my test setup.

I'll merge the pre_release branch into the main branch shortly.

[2021-11-20 13:12] #20 closed

[2021-11-20 13:28] #19 closed

[2021-11-20 13:28] #21 closed

[2021-12-13 16:13] txoof opened #23 "method for adding plugin configuration to .ini file"
When a new plugin is added there's no easy way to add the suggested configuration to the config file.

There should be a simple method for doing this from the command line.

[2021-12-14 21:38] txoof opened #24 "self-document all available layouts"
add feature that self-documents all the defined plugin layouts; add these images to the README for each plugin.

[2021-12-16 19:09] txoof commented on #24
resolved bd28dac88413dc342e1b1e08ab0785e8b8e0ee53

[2021-12-16 19:09] #24 closed

[2021-12-17 07:39] txoof opened #25 "update install/paperpi.ini with sample configurations on package build"
Build scripts should update the default `.ini` with sample configurations for all plugins.

This ensures that all new installs have a complete list of plugin configurations.

[2021-12-17 08:20] txoof commented on #25
This will likely require rewriting some of the build scripts in python so they can load the sample configs from the constants files.

[2021-12-17 14:12] txoof commented on #25
resolved with a8e1605

[2021-12-17 14:12] #25 closed

[2021-12-17 14:13] txoof commented on #23
resolved with 2bd7f6

[2021-12-17 14:13] #23 closed

[2022-01-10 09:48] txoof opened #26 "Reddit layout needs more space for quote -- quotes of > ~150 characters are truncated"
Adjust layout to reduce size of attribution and clock to favor more space for longer quotes.

[2022-01-10 09:50] txoof opened #27 "XKCD plugin: include comic number or QR code to comic"
include some reference to comic in data/layout

[2022-01-10 11:46] txoof opened #28 "reddit quote does requires better sanitization"
Some non-text unicode characters still slip through and need to be sanitized: \u2018

[2022-01-10 11:52] txoof opened #29 "reddit quote URL construction is faulty"
see lines [18-19](https://github.com/txoof/epd_display/blob/56730518f9447a3016ca44c9483f208d3bc41802/paperpi/plugins/reddit_quote/constants.py#L18-L19)

should read:
[code]

[2022-01-10 11:55] txoof opened #30 "add border buffer to xkcd plugin layouts"
images go edge to edge; this looks bad if the screen is matted and the mat overlaps the panel by a few pixels.

[2022-01-10 20:30] txoof opened #31 "Crash when BCM driver is not installed"
[code]

[2022-01-10 20:31] txoof commented on #31
This can likely be handled with a try/except around the init of the screen around ll322.

[2022-01-12 19:17] txoof opened #32 "xkcd plugin crashes when backend is not available"
looks like wrapping json decode in a try/except will resolve this
[code]

[2022-01-12 19:53] txoof opened #33 "typo in reddit_quotes"
[code]

https://github.com/txoof/epd_display/blob/413a30696a3ca8c30f7d5ee56a685e14bbacfaf0/paperpi/plugins/reddit_quote/reddit_quote.py#L183-L184

[2022-01-12 19:55] txoof commented on #31
This crash was due to a bad build environment. The system-wide IT8951 driver isn't needed any longer thanks to the Greg Meyer 8951 module.

[2022-01-12 19:55] #31 closed

[2022-01-12 19:58] RishiKumarRay commented on #32
Can you guide me , how to solve this

[2022-01-12 20:08] txoof commented on #32
@RishiKumarRay Sure! It looks like the the JSON decode needs to be wrapped in a try/except block to trap for bad/missing JSON data.

It should be a pretty straightforward fix.

Do you have an EPD screen to test this against? If you don't you can do everything in Jupyter Notebook. There's some test code embedded in xkcd_comic.ipynb that you can use for testing and debugging. Check the last couple o

[2022-01-13 13:00] txoof opened #35 "xkcd module does not respect resize paramater"
`resize = 1 ` from configuration appears to be ignored. Unclear what the problem is.

[2022-01-13 13:05] txoof commented on #33
@valanm22 much obliged!

[2022-01-13 13:05] #33 closed

[2022-01-18 09:33] txoof opened #36 "Add lyrics module for spotify for HD Screens"
Show sync'd lyrics for HD screens
https://github.com/TimoLin/SpotifyLyrics

[2022-01-19 20:33] txoof opened #37 "move plugins out of pyinstaller frozen blob"
The pyinstaller frozen blob is getting rather large for a one-file distribution. Consider moving the modules out into a system path and then using  `sys.path.append('/mypath/scriptlib')` to add the modules to the system path.

This would likely only require changing the path in the [constants file](https://github.com/txoof/epd_display/blob/726583aebbe21bd3d85c444d35fec5d5fb448c90/paperpi/paperpi.p

[2022-01-24 20:09] txoof commented on #32
resolved with commit 07c80f0916fcbfc204795d15b6114758950ab090

[2022-01-24 20:09] #32 closed

[2022-01-25 18:40] txoof opened #38 "reddit quote crash"
[code]

[2022-01-31 14:36] txoof opened #39 "slowmovie plugin"
add a slowmovie plugin that shows the Nth next frame from a movie file every time the screen is updated. See: https://github.com/TomWhitwell/SlowMovie

[2022-02-01 07:09] alemarengo opened #41 "Support for Pimoroni Inky pHat"

[2022-02-01 08:55] txoof commented on #41
@alemarengo I'd love to integrate support for the Inky!

I don't have access to any Inky pHats, but I do have a pretty good idea how to move forward with this. Would you be willing to work with me in developing a solution? This would involve some refactoring of the underlying [epdlib](https://github.com/txoof/epdlib), but it was built with modularity in mind, so it should be fairly straightforward

[2022-02-01 18:58] #38 closed

[2022-02-01 18:58] #29 closed

[2022-02-01 19:00] txoof commented on #39
see thread: https://github.com/TomWhitwell/SlowMovie/issues/113#issuecomment-1027171353

[2022-02-01 19:02] txoof commented on #39
needs a plugin that polls a configured path for whatever image is produced by SlowMovie. Plugin simply displays whatever the current image is when it comes around in the loop.

This is great for someone that wants to try their hand at building a plugin

[2022-02-01 19:03] txoof commented on #30
The layouts just need padding added to all the image frames. Should be a simple fix.

[2022-02-02 04:27] txoof opened #42 "handle exception for missing fonts -- causes crach"
crash on startup when fonts are missing can likely be remedied by wrapping the plugin loader in a try/except for OSError.

[code]

[2022-02-02 09:28] sprogus opened #43 "Paperpi doesn't find Numpy though module is installed"
Getting the below when trying to run Paperpi. Numpy was installed using apt install python3-numpy. I have also tried pip3 install numpy. Same outcome. Anyone have any ideas?

pi@raspberrypi:~ $ ./paperpi/dist/paperpi
09:22:53 paperpi:setup_display:325:CRITICAL - Error loading epd from configuration
09:22:53 paperpi:main:654:ERROR - config files used: [PosixPath('/tmp/_MEIh8nd8Z/config/paperpi.ini'

[2022-02-02 09:58] txoof commented on #43
@sprogus
PaperPi uses its own packaged python that's rolled into the executable. It doesn't search the system python.

This problem is related to the WaveShare modules trying to load unneeded modules. Let me see if I can fix this in a sane way and then roll up a new executable for you.

In the meantime, can try using the `epd2in13` module instead? That might be forwards compatible with the V2 mode

[2022-02-02 10:03] txoof commented on #43
@sprogus Sorry for the multiple messages: the V3 module might work. It doesn't include the erroneous numpy import.

I'll see if I can fix this properly later.

[2022-02-02 11:39] txoof commented on #43
@sprogus
Can you try the version found [here](https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz)? I think I have a reasonable way of patching this issue.

Thanks!

[2022-02-02 12:15] sprogus commented on #43
@txoof thanks for the reply. I'm now getting the below error

pi@raspberrypi:~ $ ./paperpi/dist/paperpi
12:14:12 paperpi:setup_display:325:CRITICAL - Error loading epd from configuration
12:14:12 paperpi:main:654:ERROR - config files used: [PosixPath('/tmp/_MEIo239h6/config/paperpi.ini'), PosixPath('/home/pi/.config/com.txoof.paperpi/paperpi.ini')]
12:14:12 paperpi:do_exit:51:ERROR - failure cause

[2022-02-02 13:30] txoof commented on #43
@sprogus
Doh. This is another of waveshare's non-standard [`init()` methods](https://github.com/txoof/epd_display/blob/81f76f380ac920a65f05d3b01357a4c3b932622f/paperpi/waveshare_epd/epd2in13_V2.py#L125).

I've patched it up to default to `update=True`

Can you try again? https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz

If this works, I'll add it to my ugly patch scri

[2022-02-02 22:17] sprogus commented on #43
@txoof Thanks again. I've run the your patched version and now getting the below error

pi@raspberrypi:~ $ ./paperpi/dist/paperpi
22:15:39 paperpi:setup_display:325:CRITICAL - Error loading epd from configuration
22:15:39 paperpi:main:654:ERROR - config files used: [PosixPath('/tmp/_MEI9Qj1Nb/config/paperpi.ini'), PosixPath('/home/pi/.config/com.txoof.paperpi/paperpi.ini')]
22:15:39 paperpi:do_exi

[2022-02-03 05:37] txoof commented on #43
@sprogus well, were getting closer and closer.

I have a few more ideas i can see through if you're willing to keep testing.

Hopefully sometime today or tomorrow I'll try to patch this.

[2022-02-03 08:02] sprogus commented on #43
@txoof Yeah. More than happy to keep testing. Thanks for your effort so far.

[2022-02-03 08:09] txoof commented on #43
I'm contemplating a rewrite and migrating to the [Rob Webber's Omni EPD](https://github.com/robweber/omni-epd). It will take a lot of work on the backend to make this work, but it's probably worth it in the long run rather than dealing with all the hacky solutions I keep coming up with.

If we do get to a working solution, you'll probably want to try out some of the different layouts; the defaults

[2022-02-03 08:11] txoof commented on #43
@sprogus
Once again for the third time:  https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz

Keep me posted.

[2022-02-03 09:01] sprogus commented on #43
@txoof  We have success. Getting a display. I've just got to enable some plugins.

[2022-02-03 09:19] txoof commented on #43
Outstanding! If this works, I'll roll those changes into the main branch and publish an updated version.

If the existing layouts don't work for you, we can try to develop some that look better on a 2" display.

[2022-02-03 17:21] txoof commented on #43
@sprogus can you report back after you've tested this for a while and let me know if you run into any issues?

I'll let it run on my end with a 5.83" screen (unpatched) and see if I run into anything odd as well.

Thanks for the testing support.

[2022-02-03 17:49] txoof opened #44 "new yorker plugin crash"
[code]

[2022-02-03 17:50] txoof commented on #44
This may be due to an misplaced comment line in sample configuration file

[2022-02-03 21:00] txoof opened #45 "Add attributions to veeb"
Reddit and crypto both inspired by veeb.ch Audry project; add attributions in docs

[2022-02-03 21:02] txoof opened #46 "Add attributions"
@veebch inspired the Reddit and crypto plugins. Need to add attributions in docs

[2022-02-03 21:02] #45 closed

[2022-02-04 10:32] txoof commented on #44
Issue is [here](https://github.com/txoof/epd_display/blob/749578316522eb6bbc7017917e8f288b360cc377/paperpi/config/paperpi.ini#L129-L135)

The root is within the new yorker plugin its self.

[2022-02-05 03:14] aaronr8684 opened #48 "Create_devel_venv.sh failed"
See the output below. Issue was fixed by manually running `sudo apt-get install libcairo2-dev libjpeg-dev libgif-dev` and then running the shell script again. I believe this should be a quick fix in the "cd_apt_packages" file, but, I'm not sure. If it is just a simple add to the CORE var, I'm happy to make the change and submit the PR.

[code]

[2022-02-05 05:38] aaronr8684 opened #49 "Add 64-bit OS support"
Trying to run the program on the new 64-bit Raspbian OS causes the error `bash: ./paperpi: No such file or directory` as it's looking for the non-existent ld-linux-armhf.so.3 interpreter.
`[Requesting program interpreter: /lib/ld-linux-armhf.so.3]`

After some troubleshooting, I was able to get it running using the following commands:
`sudo dpkg --add-architecture armhf`

Which resulted in this er

[2022-02-05 13:04] txoof commented on #48
What version of raspberry pi OS are you running? I recently tested this on a clean, vanilla 32 Bit Buster and didn't run into any trouble. I'd like to chase this down to the root cause if I can.

I'm not super happy with the web of scripts that live in the root of this project. For the moment, it's probably worth at least patching this up with a solution if you have one.

[2022-02-05 14:11] aaronr8684 commented on #48
I just did a fresh install of Raspbian OS (64-bit) downloaded from their site using Raspberry Pi Imager.

Output of /etc/os-release
[code]

[2022-02-06 05:07] aaronr8684 opened #50 "Support for epd3in7"
I have a 3.7 HAT screen and would love to add support. Would you prefer a modified version of the standard Waveshare py file (modify the actual functions) or an inline interface file that can handle the function calls between the two?

In short, I would love to get this working with my 3.7 screen and am willing to do the work to make that happen. I'm just looking for a preferred direction (if you

[2022-02-06 21:27] txoof commented on #50
@aaronr8684 That's a good question. This sounds great.

What's involved in modifying the 3.7" epd driver? I'm trying to avoid maintaining and patching waveshare's epd libraries if I can avoid it.

Right now I pull in the waveshare repo and add it to the project with a few patches. Tell me more about what you think would be the most sustainable so it's easy to keep pulling in the WaveShare Repo on

[2022-02-06 22:59] aaronr8684 commented on #50
I still need to test this to confirm, but I think the incompatibility lies in a few minor differences that are unique to the 3.7 library (and a few others). I believe adding a few default values to the extra "mode" property of the `init()` and `Clear()` functions and creating a simple `display()` function that calls the `display_1Gray()` function should be all that's required. It would obviously d

[2022-02-07 17:21] aaronr8684 commented on #50
@txoof So I was able to get the screen working with the following changes to the epd3in7.py file.

Line 141: Add a default value for mode of '0' in the init method. Mode 0 is the greyscale full-refresh mode of the screen. You can still treat it as a 2 value screen, but it forces the full update between plugin changes.

Line 239-262: Pass the functionality for the getbuffer method to the getbuffer_

[2022-02-07 21:45] aaronr8684 commented on #50
Here's what I came up with:
[code]

I put it in a file named `epd3in7patch` in the `waveshare_epd` directory and set the "display_type" variable in paperpi.ini to the new filename. Seems to work great.

[2022-02-08 18:37] #44 closed

[2022-02-08 19:26] txoof commented on #50
@aaronr8684

That's great news!

I'm wondering how to get this into the `paperpi/waveshare_epd` directory whenever it's updated. Right now there's a script that pulls down the waveshare repo and fixes up some incompatibility issues in other modules.

I see a few options:

- store `epd3in7patch.py` somewhere outside of the waveshare directory (maybe `patches`?) and then add a line to `update_wavesh

[2022-02-08 22:53] ejmorgan55 opened #54 "tar file corupt"
pi@raspberrypi:~ $ tar xvzf paperpi_latest.tgz
paperpi/./dist/paperpi

gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now
cloned from your site due to tar not workintg. cant launch paperpi. not working.

[2022-02-08 23:21] aaronr8684 commented on #54
@ejmorgan55 Did you try to download the file again? I just downloaded this an hour ago and it worked for me.

[2022-02-08 23:51] ejmorgan55 commented on #54
I did; also, when I try to execute ./paperpi/dist/paperpi I get the error cannot open pyinstaller archive from executable?

[2022-02-09 01:24] ejmorgan55 commented on #54
OK; after sever tries I was able to load the program again and it is working. However, I am getting a warning block init 183::warning - fill and background are identical and this likely result in no visible image? I have the phases of the moon; basid clock; and quotes selected. Appears phases of the moon is not work as I can see the clock and quotes?

[2022-02-09 02:50] aaronr8684 commented on #50
@txoof

So I wonder if the best solution now would be to add a `patched` list in epdlib's Screen class (in the `_load_non_hd()` method) around line 445. That could have a list (really just the 3.7" and 1.02" screens) that would check for a patch file in this library. We could put the patched files in a folder called something like "epd_patches" at the same level as the waveshare folder, but not in

[2022-02-09 14:49] txoof commented on #54
@ejmorgan55
That warning can be safely ignored. It's probably just an oversight in the layout.

I have a suspicion that I know what's going on with the tar.

Can you share everything you see when it throws errors?

Can you also share what you see when you type `lsb_release -a`?

[2022-02-09 16:29] ejmorgan55 commented on #54
When asked for the lsb module it states none are available; raspbian gnu/linux 11 (bullseye). The error concerning warning block init 183::warning - fill and background are identical and this likely result in no visible image happens when you  place False for the splash screen; and indeed, all you get is a white screen if you do so. For the tar; I presume it may have been a download issue. As indi

[2022-02-09 17:46] txoof commented on #54
@ejmorgan55
thanks for the report. That's really helpful. I think the epdlib needs some work on the warning messages. That message is pretty extreme for what it means.

FYI, github supports markdown. You can surround log output, terminal copy/paste and code blocks by using the <> button. It adds "`" around the snip. If you have big code blocks, you can paste those by using three back-ticks.

It he

[2022-02-09 17:46] #54 closed

[2022-02-09 20:48] ejmorgan55 opened #55 "C to F"
Looking in the config files; cannot find where to convert the Met No from Celsius to Fahrenheit? Can you point me in the right direction? Thanks.

[2022-02-09 21:13] ejmorgan55 commented on #55
Sorry; I found it; right in the readme file. Added the line and I now have F rather than C. Thanks.

[2022-02-16 05:10] winstonma opened #57 "Add partial refresh capability"
There is a hack that allows the [partial refresh happen](https://youtu.be/MsbiO8EAsGw), simply look at [15:12](https://youtu.be/MsbiO8EAsGw?t=912) and they just keep the last line of `WW`. Please check the old and the new table in 15:12 for the details.

I tested it and this method works on my 7.5" version 2 eink screen.

[2022-02-16 05:42] txoof commented on #57
Thanks for the suggestion. Would you submit a PR with the changes?

We are also looking to move to the Omni EPD library rather than using the Waveshare code. Do you have any interest in helping bout with that?

@aaronr8684 is working on merging in those changes.

[2022-02-16 09:09] winstonma commented on #57
I think this is the core issue of the problem.

For example

- 7.5" V2
   The [epd7in5_V2.py](https://github.com/waveshare/e-Paper/blob/master/RaspberryPi_JetsonNano/python/lib/waveshare_epd/epd7in5_V2.py) uses `LUT_WW_7IN5_V2`
- 4.2"
   The [epd4in2.py](https://github.com/waveshare/e-Paper/blob/master/RaspberryPi_JetsonNano/python/lib/waveshare_epd/epd4in2.py) uses `lut_ww`

I am not sure how to

[2022-02-16 10:12] txoof commented on #57
@winstonma

That's pretty much the problem we ran into as well; rather than try to sort out the WaveShare code, I decided to just roll with the limitations for now.

OmniEPD resolves some of this, but I haven't completely explored it yet. There's a plan to move from the WaveShare libraries to Omni EPD so we can offer 3 and 7 color support. If partial refresh is supported for the other displays, we

[2022-02-16 15:18] aaronr8684 commented on #57
@winstonma Yea, unfortunately, it's not officially supported by Waveshare for the 7.5" screens. So, short of modifying the driver files directly (like Applied Science did), it's not something that is easily added for a "library" across all the screens. The OmniEPD library also doesn't support partial refresh yet, even on the displays that have official support for it (e.g. 2.13", 3.7", 6", etc.).

[2022-02-17 02:16] winstonma commented on #57
@aaronr8684 Agree the partial refresh is a hack and it is not as good as the native partial refresh other screen provided. And that's the reason `hacking` is needed.

Yeah I am not sure what is best. At the same time I think it would be best if the epd_display could be split into two separate project - one server side and one client side. And the client side would display the server side content.

[2022-02-17 16:04] txoof commented on #57
@winstonma That's more-or-less how things are set up. PaperPi handles what to display and when while `epdlib` manages talking to the display and formatting the content to fit on whatever resolution screen is configured.

This means that most of the changes need to happen at the `epdlib` side. This is why we're looking to move to Omni EPD for the hardware interface. The most sustainable route for g

[2022-02-20 11:40] markbirss commented on #43
@txoof

Hi

Im having this similar error with a epd2in13 (v1 display)

` wget https://github.com/txoof/epd_display/raw/master/paperpi_latest.tgz`

`11:40:07 paperpi:setup_display:325:CRITICAL - Error loading epd from configuration
11:40:07 paperpi:main:654:ERROR - config files used: [PosixPath('/tmp/_MEICL822T/config/paperpi.ini'), PosixPath('/home/pi/.config/com.txoof.paperpi/paperpi.ini')]
11:40

[2022-02-20 11:46] txoof commented on #43
@markbirss The WaveShare code paperpi runs on is full of unnecessary imports. Try this patched version: https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz

It would be super helpful to hear if this works. If you don't run into any trouble, I'll merge these patches into the main branch. We're working on getting rid of the waveshare libraries altogether, but that's a ways

[2022-02-20 12:01] sprogus commented on #43
Everything has been going well for me so far. I have only used the crypto
ticker though. I'm happy to test the other plugins if needed

On Sun, 20 Feb 2022, 21:46 Aaron Ciuffo, ***@***.***> wrote:

[2022-02-20 12:04] markbirss commented on #43
@txoof

I get this error ?

`pi@raspberrypi:~ $ ./paperpi/dist/paperpi
12:03:55 paperpi:setup_display:325:CRITICAL - Error loading epd from configuration
12:03:55 paperpi:main:654:ERROR - config files used: [PosixPath('/tmp/_MEItugbLx/config/paperpi.ini'), PosixPath('/home/pi/.config/com.txoof.paperpi/paperpi.ini')]
12:03:55 paperpi:do_exit:51:ERROR - failure caused exit: could not load epd module

[2022-02-20 12:16] txoof commented on #43
@markbirss Thanks for the update. Let me see what I can do to patch that.

We're working on moving to OmniEPD to get rid of the waveshare code entirely. The sample code is a bit of a mess.

[2022-02-20 12:19] markbirss commented on #43
@txoof

Thank you, my 9.7" ITE8951 is working good, just had small issue with those tiny jumpers for SPI mode, they seemed correctly set, but had to toggle them back and forth (maybe they were half way)

[2022-02-20 12:20] txoof commented on #43
Glad to hear that the 9.7" is working properly! I'd love to see any build pictures if you would be willing to share.

[2022-02-20 12:26] markbirss commented on #43
Oh ok, it looks similar to this, i just have not close up the case

![97_term](https://user-images.githubusercontent.com/22388007/154842307-14ce5ffc-d2b6-473a-aa7e-58b6be01fc3d.jpg)

This is running a hardware flow serial console over ESP32 based driver board
https://github.com/vroland/epdiy

https://cdn.hackaday.io/files/1681937195969312/term_demo_r.mp4
https://cdn.hackaday.io/files/1681937195969

[2022-02-20 12:37] txoof commented on #43
Wow. That's super cool. Is it "fast" enough to use as a monitor? I have a spare screen kicking around. It would be neat to use it as an interface for one of my many pi...

[2022-02-20 12:54] txoof commented on #43
@markbirss

Give this one a spin. It **should** fix the error you're seeing, but it may also generate other problems.  https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz

This screen supports partial refresh and the init() method expects a lut that matches either a full-refresh or a partial-refresh. I've hacked it so it  defaults to full refresh in all which matches mos

[2022-02-20 12:59] markbirss commented on #43
@txoof

yes, they even working on a faster 16 grey color version

You must join the Slack group for the EPDIY Project

https://user-images.githubusercontent.com/22388007/154843582-26425fdc-3e71-42af-8b1a-7cf2fc48259e.mp4

It get this ?
`  271  wget -c https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz
  272  tar xvf paperpi_latest.tgz
  273  history
pi@raspberrypi:~ $ .

[2022-02-20 13:05] markbirss commented on #43
`271  wget -c https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz
  272  tar xvf paperpi_latest.tgz
  273  history
pi@raspberrypi:~ $ ./paperpi/dist/paperpi
Traceback (most recent call last):
  File "paperpi/paperpi.py", line 729, in <module>
  File "paperpi/paperpi.py", line 648, in main
  File "paperpi/paperpi.py", line 322, in setup_display
  File "epdlib/Screen.py",

[2022-02-20 13:06] markbirss commented on #43
271  wget -c https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz
  272  tar xvf paperpi_latest.tgz
  273  history
pi@raspberrypi:~ $ ./paperpi/dist/paperpi
Traceback (most recent call last):
  File "paperpi/paperpi.py", line 729, in <module>
  File "paperpi/paperpi.py", line 648, in main
  File "paperpi/paperpi.py", line 322, in setup_display
  File "epdlib/Screen.py", l

[2022-02-20 13:14] markbirss commented on #43
This is the ITE8951 9.7inch im running your epd_display on

![20220220_120606](https://user-images.githubusercontent.com/22388007/154844337-ae1343f7-77b4-499d-b978-24065d3f9805.jpg)

[2022-02-20 15:46] txoof commented on #43
Uuuh. I should have read the waveshare code more closely. There's no easy fix, but there is a kludge!

I've tested this as much as I can without an actual 2in display. Can you try again?

https://github.com/txoof/epd_display/raw/I%2343_numpy_issue/paperpi_latest.tgz

[2022-02-20 17:43] markbirss commented on #43
pi@raspberrypi:~ $ ./paperpi/./dist/paperpi
17:42:38 Block:padding:315:WARNING - padding value is greater >= 1/2 of area dimension 12, no image will be displayed: 10
17:42:38 Block:padding:322:WARNING - the padded area available may be too small to display any content: Area: (250, 12), Padded Area: [230, -8]
17:42:38 Block:font_size:795:WARNING - no font size set, using {font_size}

[2022-02-20 18:16] txoof commented on #43
Good news! I'll work on merging this into the main branch soon.

Try setting the `rotation` param in the config file. That screen is probably better suited for a landscape display due to the way the text layout is handled.

Each plugin has multiple layouts. Some of the layouts are designed to have a lower information density so they display better on small screens. Check the [provided layouts](htt

[2022-02-20 18:18] markbirss commented on #43
Ok, cool, thank you

[2022-02-21 20:11] txoof commented on #43
@sprogus, @markbirss Changes merged into master.

[2022-02-21 20:11] #43 closed

[2022-02-22 23:12] ZubaZ21 commented on #50
As the other guy that owns a epd3in7 I appreciate the effort (even if I can barely follow along what's going on).
If you need someone to test something . .  I am available.

[2022-02-22 23:44] aaronr8684 commented on #50
Thanks for the offer. I will definitely take you up on that. Right now, I'm working on bringing in a 3rd party library that abstracts the display handling which should allow for more display support in the future (including the 3.7" and the Inky screens from Pimoroni) and more advanced modes like grey scale and color.

Do you have any other screens or just the one? Are you running them on a Pi or

[2022-02-22 23:49] ZubaZ21 commented on #50
@aaronr8684 I also have a 7.5inch e-Paper HAT V2 (running VSMP+)

[2022-02-23 01:09] ejmorgan55 opened #58 "Paperpi freezing"
Hi; I have downloaded paperpi on a raspberry pi 3 using the current outlook rendition. I am operating a waveshare 4.2 screen. Download was fine and set up on Damon. I am running the word clock and phases of the moon. Problem is that the system starts, and works fine for about 12 hours. It then simply freezes; and does not function. I thought it might be a bad download; so I performed a new downloa

[2022-02-23 04:50] txoof commented on #58
Interesting problem I haven't seen before.

Does the entire pi freeze up, or just PaperPi? What I mean is can you ssh in or still interact via keyboard/monitor?

What version of RasPiOS are you using? Run `$ uname -a`.

Can you do the following:
- edit `/etc/defaults/paperpi.ini` and change logging to "DEBUG"
- open a terminal (preferably over ssh with tmux) and run `$ tail -f /var/log/daemon.log`

[2022-02-23 18:05] ejmorgan55 commented on #58
As requested above:

Linux raspberrypi 5.10.92-v7+ #1514 SMP Mon Jan 17 17:36:39 GMT 2022 armv7l GNU/Linux

log level changed to debug

restarted as above; however, paperpi does not restart and the screen remains frozen. Following was the result from the log:
 tail -f /var/log/daemon.log
Feb 23 11:02:53 raspberrypi paperpi[1225]: 11:02:53 paperpi:main:645:DEBUG - configuration:
Feb 23 11:02:53 ras

[2022-02-23 18:19] txoof commented on #58
This appears to be just the log entries from the initial startup. Everything looks pretty OK up to this point.  Does it freeze immediately after `11:02:54` or does it take 12 hours? It would be super helpful to see the log entries from around the time it freezes.

If you can capture just the `/var/log/daemon.log` lines from around the time it freezes, that would be super helpful.

The next time it

[2022-02-23 18:41] ejmorgan55 commented on #58
Froze again; here is the log:
pi@raspberrypi:~/paperpi $ tail -f /var/log/daemon.log
Feb 23 11:37:59 raspberrypi dhcpcd[533]: wlan0: carrier lost
Feb 23 11:38:00 raspberrypi dhcpcd[533]: wlan0: deleting address fe80::8073:7b84:7df6:38c0
Feb 23 11:38:00 raspberrypi avahi-daemon[451]: Withdrawing address record for fe80::8073:7b84:7df6:38c0 on wlan0.
Feb 23 11:38:00 raspberrypi avahi-daemon[451]: Le

[2022-02-23 18:44] ejmorgan55 commented on #58
Tried sudo systemctl stop paperpi-daemon; sudo systemctl start paperpi-daemon. No restart.

[2022-02-23 18:44] ejmorgan55 commented on #58
After trying to restart:
pi@raspberrypi:~/paperpi $ tail -f /var/log/daemon.log
Feb 23 11:42:48 raspberrypi paperpi[1451]: 11:42:48 paperpi:main:645:DEBUG - configuration:
Feb 23 11:42:48 raspberrypi paperpi[1451]: {'main': {'display_type': 'epd4in2b_V2', 'vcom': 0.0, 'max_refresh': 4, 'log_level': 'DEBUG', 'splash': 1, 'rotation': 0, 'daemon': True}, 'xPlugin: decimal binary clock': {'layout': 'l

[2022-02-23 19:03] txoof commented on #58
@ejmorgan55
OK. Let's try something different. What I really want to see is just the stuff related to paperpi and maybe some other stuff that's going on around it.

try this:  `journalctl --since HH:MM --until "now" paperpi.log` **see the note below**

Then attach the log to a new comment so I can take a look. You might want to review the log to make sure there's nothing you don't want the world t

[2022-02-23 20:10] txoof commented on #58
Sorry, should read: `journalctl --since HH:MM --until "now" > paperpi.log`

[2022-02-23 21:55] ejmorgan55 commented on #58
OK; had to wait for it to freeze again:

pi@raspberrypi:~ $ tail -f /var/log/daemon.log
Feb 23 14:37:47 raspberrypi paperpi[713]: 14:37:47 paperpi:update_plugins:466:DEBUG - IMAGE STRING: <PIL.Image.Image image mode=L size=400x300 at 0x752393F0>
Feb 23 14:37:47 raspberrypi paperpi[713]: 14:37:47 paperpi:update_loop:513:INFO - display_time elapsed, cycling to next active plugin
Feb 23 14:37:47 rasp

[2022-02-23 22:02] ejmorgan55 commented on #58
After shutdown and restart on system:
pi@raspberrypi:~/paperpi $ sudo systemctl stop paperpi-daemon; sudo systemctl start paperpi-daemon
pi@raspberrypi:~/paperpi $ tail -f /var/log/daemon.log
Feb 23 15:00:15 raspberrypi paperpi[1564]: 15:00:15 paperpi:main:645:DEBUG - configuration:
Feb 23 15:00:15 raspberrypi paperpi[1564]: {'main': {'display_type': 'epd4in2b_V2', 'vcom': 0.0, 'max_refresh': 4, '

[2022-02-23 22:08] ejmorgan55 commented on #58
sorry; here is the paperpi.log:
pi@raspberrypi:~/paperpi $ sudo nano paperpi.log
  GNU nano 5.4                       paperpi.log *
Feb 23 14:30:01 raspberrypi paperpi[713]: 14:30:01 paperpi:update_plugins:466:D>
Feb 23 14:30:01 raspberrypi paperpi[713]: 14:30:01 paperpi:update_plugins:454:I>
Feb 23 14:30:01 raspberrypi paperpi[713]: 14:30:01 Plugin:_is_ready:230:DEBUG ->
Feb 23 14:30:01 raspberry

[2022-02-23 22:08] ejmorgan55 commented on #58
Anoterh from 1445:
pi@raspberrypi:~/paperpi $ sudo nano paperpi.log
  GNU nano 5.4                       paperpi.log
-- Journal begins at Thu 2022-01-27 18:30:20 MST, ends at Wed 2022-02-23 15:06:>
Feb 23 14:53:06 raspberrypi sshd[1512]: Accepted password for pi from 192.168.8>
Feb 23 14:53:06 raspberrypi sshd[1512]: pam_unix(sshd:session): session opened >
Feb 23 14:53:06 raspberrypi systemd-logi

[2022-02-24 00:44] aaronr8684 commented on #58
I just had a (possibly) similar issue running on my Pi4 on 64-bit Bullseye build (PaperPi v0.3). It's not entirely frozen as it still tries to refresh the screen, but nothing is displayed at the end of the cycle. It also doesn't allow me to SSH or VNC into the device, but a local screen works. I'll run through the troubleshooting above before I reboot and see if anything looks off. If it appears t

[2022-02-24 01:50] aaronr8684 commented on #58
Just kidding. It was a wireless issue.

[2022-02-24 07:52] txoof commented on #58
@ejmorgan55
Huh. There's still not much in those logs. Can you try attaching the log as an attachment rather than pasting in? It's a bit easier to look at that way. You can attach files by dragging them and dropping them into the comment box. Git will do the rest for you.

I suspect there's something fishy going on with the SPI bus, but I'm not sure what. Do you have any other things plugged into

[2022-02-24 16:27] txoof commented on #58
@ejmorgan55 I'm leaning towards this being a hardware issue though I'm keen to figure out what's going on.

Have you successfully used this WaveShare display with any other continuously operating projects?

[2022-02-24 18:27] ejmorgan55 commented on #58
I currently have the device taken apart and I am checking all the connections to ensure it is not a hardware issue; albeit, I have tried 2 different Raspberry Pi and 2 different SD cards. That leaves the wiring connections for any hardware problem. Once I finish checking the wiring; I will reassemble and try again. I do not have anything else connected to this application; simply the Raspberry Pi

[2022-02-24 19:14] txoof commented on #58
I've had problems with writing harness in the past. Bad connections resulted in poor image quality.

It sounds like you've eliminated most of the possible problems.

It is also possible that the HAT ha an intermittent fault. It would be great to try another HAT and a screen if you have one.

[2022-02-25 21:28] ejmorgan55 commented on #58
OK; so the wiring harness and hat seem to be fine. I checked all connections. Two things I discovered. One: the paperpi will not start on reboot. You must completely power off and back on. This seems to be a problem with the epaper screen as the program appears to be operating; however, the screen never clears and reinitializes. Once power is removed; it clears and starts fine. Second; the operati

[2022-02-26 14:12] txoof commented on #58
@ejmorgan55 There's definitely a bug in the Moon Phases plugin when handling an unreachable end point. Can you search your logs for 'NameError: name 'RequestException' is not defined' and share log lines prior to that error (see the example below).  This is an easy fix. I'll get on it right away.

Can you also post your configuration file? I had a few ideas that I'd like to check out.

[code]

Tha

[2022-02-26 22:09] ejmorgan55 commented on #58
OK; I applied a fresh download of Raspbian and downloaded the new tar. It is up and running; so far so good. I will let you know if it continues to freeze. Happy that you found the bug in phases of the moon. Not sure why it may have caused the screen to freeze. Thanks.

[2022-02-27 07:58] txoof commented on #58
@ejmorgan55 I'm not at all convinced that this bug is what is causing your issues. This bug caused PaperPi to crash completely when the API endpoint wasn't available.

Can you share your configuration file please? You can either attach it or paste it directly into the comment box.

**Tip** When you paste code/log output, if you surround it with three back tick characters, "\`\`\`" before and after

[2022-02-27 19:42] ejmorgan55 commented on #58
Not sure which file you want as there are several configure files. Regardless; the paperpi is now running and has not frozen since I downloaded the new Tar. I am not sure why it was freezing; however, it now seems to work fine. I have a 4.2 (B) waveshare screen and changed from the V2 (referenced in the WIKI for the updated B screen) to the BC (also referenced in the WIKI), May have made the diffe

[2022-02-27 20:36] aaronr8684 opened #59 "Plugin Idea - BitBot"
A crypto / stock tracking script

https://github.com/donbing/bitbot

[2022-02-28 01:33] ZubaZ21 opened #60 "Add unit of measure (C/F) to met_no weather plugin"
It appears that the plugin might be modified to switch between celsius to fahrenheit but moving that to the plugin config would be significantly easier for an end user.  (I am the end user. :(  )

[2022-02-28 03:49] aaronr8684 commented on #60
Duplicate of #55

[2022-02-28 06:41] txoof commented on #55
The following lines in the `paperpi.ini` file can be added to control units:
[code]

[2022-02-28 06:55] txoof commented on #55
resolved with commit 59937918563fc88d130363c2f46a3c801edfd8b5

[2022-02-28 06:55] #55 closed

[2022-02-28 06:56] txoof commented on #60
resolved: 59937918563fc88d130363c2f46a3c801edfd8b5

use the following in `paperpi.ini`:
[code]

[2022-02-28 06:56] #60 closed

[2022-02-28 12:57] ZubaZ21 opened #61 "Show IP address"
Either on the demo plugin or on the splash page, show the IP of the PaperPi for easy connection.

[2022-02-28 15:32] txoof commented on #61
Interesting idea. I can probably add that to the "default" plugin that shows when no other plugins are active.

[2022-02-28 15:32] txoof commented on #59
Looks really nice. Good target for a "color" screen.

[2022-02-28 15:33] txoof commented on #7
This is under way at [a new version of Paperpi](https://github.com/txoof/paperpi)

[2022-02-28 15:33] #7 closed

[2022-02-28 15:34] txoof commented on #37
Underway over at a [new version of paperpi](https://github.com/txoof/paperpi)

[2022-02-28 15:34] #37 closed

[2022-02-28 15:35] #49 closed

[2022-02-28 15:35] txoof commented on #22
Investigated and not appropriate for this use case.

[2022-02-28 15:36] #22 closed

[2022-02-28 15:38] txoof commented on #61
@ZubaZ21

This would be a great "first issue" to take on if you're interested in fiddling with this yourself.  `socket.gethostbyname()` would be a good place to start.

[2022-02-28 15:50] aaronr8684 commented on #48
This is also fixed with the v0.3.0 of [PaperPi](https://github.com/txoof/paperpi)

[2022-02-28 15:50] #48 closed

[2022-03-07 21:26] txoof opened #62 "Update IT8951 support in readme."

[2022-03-08 17:58] aaronr8684 commented on #41
Hey @alemarengo, do you have some time to test the EPDLib changes to verify that the pHats are working as expected?

[2022-03-09 13:28] aaronr8684 commented on #59
Moved to #63 discussion

[2022-03-09 13:28] #59 closed

[2022-03-09 13:28] aaronr8684 commented on #5
Added these to #63

[2022-03-09 13:29] aaronr8684 commented on #39
Added to #63

[2022-03-09 13:30] aaronr8684 commented on #36
Added to #63

[2022-03-09 17:36] #36 closed

[2022-03-09 17:36] #39 closed

[2022-03-10 19:42] txoof opened #65 "Pin epdlib to 0.5.1.1"
pending move to Omni-EPD over at epdlib, pin this to 0.5.1.1

[2022-03-10 19:48] txoof commented on #65
resolved with 7463fcd

[2022-03-10 19:48] #65 closed

[2022-03-26 22:19] Wiregeek opened #66 "executing ./dist/paperpi results in "No such file or directory""
~/Desktop/paperpi/dist/paperpi exists, is attributed executable, and -rwxrwxrwx 1 pi pi 41389340 Feb 27 21:48 paperpi.

attempted to execute via terminal from ~, ~/Desktop, ~/Desktop/paperpi, and ~/Desktop/paperpi/dist

Raspberry pi 3b, Waveshare 10.3+ w/ Raspberry hat - confirmed display functional via windows, confirmed interface correct using https://github.com/GregDMeyer/IT8951

Running Raspbi

[2022-03-27 05:46] txoof commented on #66
@Wiregeek  i think I know what the problem is. I'll take a look later today. Thanks for the issue.

[2022-03-27 08:51] txoof commented on #66
original message:

@Wiregeek
I have an idea of the problem. Can you try the following:

1. Open a terminal and type `ls -alh /usr/bin/paperpi` -- you should see something like this if it's properly installed: `-rwxr-xr-x 1 root root 40M Jan 24 19:42 /usr/bin/paperpi`
2. in the same terminal run `sudo systemctl status paperpi-deamon.service` -- You should see something like this if the daemon is pr

[2022-03-27 10:33] Wiregeek commented on #66
pi@raspberrypi:~ $ ls -alh /usr/bin/paperpi
-rwxr-xr-x 1 root root 40M Mar 26 13:58 /usr/bin/paperpi

pi@raspberrypi:~ $ sudo systemctl status paperpi-daemon.service
? paperpi-daemon.service - PaperPi E-Paper Display
     Loaded: loaded (/etc/systemd/system/paperpi-daemon.service; enabled; vendor preset: enabled)
     Active: activating (auto-restart) (Result: exit-code) since Sun 2022-03-27 02:30

[2022-03-27 13:16] txoof commented on #66
Interesting. This indicates that the installer script failed to install the binary into /usr/bin. PaperConf isn't related to this project; you can ignore that.

Can you try to run the installer script again and see what happens. I'll take a look at my end on a fresh install and see if I can't find a similar issue.

[2022-03-27 13:33] txoof commented on #66
@Wiregeek
There's definitely something weird about the tar. I'm getting closer to the problem, but I'm not exactly sure what's going on.

[2022-03-27 13:37] Wiregeek commented on #66
Anything you need tested on hardware let me know, I am monitoring this thread for the next 16 hours

[2022-03-27 13:41] txoof commented on #66
@Wiregeek I've narrowed down the problem to some difference between how pyinstaller generates executables on different architectures. I don't know exactly what's wrong, but I think I have a solution. I'll ping you when I have something that needs to be tested.

[2022-03-27 14:59] txoof commented on #66
@aaronr8684 Something very, very strange is going on. I can create a pyinstaller binary with the build scripts that run on the local device. After transferring those binaries to other pis, they refuse to run. I've tried building on both 32bit and 64bit platforms without much luck.

Any ideas?

[2022-03-27 15:06] Wiregeek commented on #66
That's absolutely bizarre, it doesn't make any sense to me, unless your compile machine has libraries or other required dependencies that the other pis don't, but that's ludicrous.

[2022-03-27 15:55] txoof commented on #66
@Wiregeek Well, yes. I'm spinning up a fresh buster 32 from scratch and rebuilding the development environment. From there I'll try again.

Thanks for your patience.

[2022-03-27 16:19] txoof commented on #66
@Wiregeek If you're feeling zesty, you can try out the development version over here: https://github.com/txoof/PaperPi

It doesn't depend on a pyinstaller frozen blob anymore. We're looking to add gray-scale and color to more devices, but the main branch _should_ be working ok.

[2022-03-27 16:32] aaronr8684 commented on #66
@Wiregeek Can you try running `readelf -l /usr/bin/paperpi` and let me know what the output is? I had a similar issue (#49) when attempting to run the native 32-bit app on a fresh 64-bit build.

[2022-03-27 17:02] Wiregeek commented on #66
Headed to dev version now.

**Readelf output**

pi@raspberrypi:~/Desktop/paperpi/dist $ readelf -l /usr/bin/paperpi

Elf file type is EXEC (Executable file)
Entry point 0x114f8
There are 9 program headers, starting at offset 52

Program Headers:
  Type           Offset   VirtAddr   PhysAddr   FileSiz MemSiz  Flg Align
  EXIDX          0x008a18 0x00018a18 0x00018a18 0x00008 0x00008 R   0x4
  PHDR

[2022-03-27 18:01] Wiregeek commented on #66
@txoof dev branch did the thing and is working, except https://imgur.com/a/vEZataz  which is actually something I've been seeing on everything I've driven this panel with, Windows or Raspbian. I am reading through everything I can find on the pi to see if I can flip horizontal.

[2022-03-27 18:13] txoof commented on #66
@Wiregeek OHDANG. I've never seen that before. That's really weird.

Glad the dev version worked for you. That's a relief. Still working on getting pyinstaller blob version working.

[2022-03-27 18:17] aaronr8684 commented on #66
Looks like that's a known issue for the IT8951 displays (see [40](https://github.com/GregDMeyer/IT8951/issues/40) and [43](https://github.com/GregDMeyer/IT8951/pull/43)).

Does it happen with all images @Wiregeek? We might be able to intercept that issue and just send the image backwards to correct using the built-in PIL ` img.transpose(Image.FLIP_LEFT_RIGHT)`

[2022-03-27 18:30] Wiregeek commented on #66
yep, happens with everything I've thrown at it - I even moved it to my workstation and got https://imgur.com/a/TCPiSku

[2022-03-27 18:44] txoof commented on #66
@Wiregeek If you're up for it, would you mind checking out this fixed version: https://github.com/txoof/epd_display/blob/I%2366/paperpi_latest.tgz

[2022-03-27 19:07] Wiregeek commented on #66
Hokay

After downloading and running install.sh, this result from attempting start of paperpi-daemon.service - this is after doing sudo systemctl restart paperpi-daemon.service and waiting 15 seconds approximate.

pi@raspberrypi:~/Desktop/paperpi $ sudo systemctl status paperpi-daemon.service
? paperpi-daemon.service - PaperPi E-Paper Display
     Loaded: loaded (/etc/systemd/system/paperpi-daemon

[2022-03-27 19:33] txoof commented on #66
@Wiregeek Great news. Thanks again for testing.

I'll update the repo with the working version.

[2022-03-27 19:38] Wiregeek commented on #66
I'll go ahead and close, then - I'll open horizontal flip when I get back next weekend, and have something to contribute.

[2022-03-27 19:38] #66 closed

[2022-03-27 19:42] txoof commented on #66
@Wiregeek Thanks! it would be pretty easy to add that to epdlib and then code in an option to flip the screen horizontal/vertical.

[2022-03-27 20:49] aaronr8684 commented on #66
@Wiregeek could you try putting a file in the bin dir (or where ever you are running PaperPi) called `omni-epd.ini` with the following inside...

[code]

I'm not sure if that will work as it stands, but it's worth a shot.

[2022-06-30 04:42] cloud263 opened #68 "Unable to display plugin."
The time can be displayed, but the plug-in cannot be displayed, and a prompt message appears:
Noplugins are active,check the logs!
raspberry zero 2wh+waveshare b/w 7.5inch(600X384)

[2022-10-14 21:00] stumpey121 commented on #50
Hi
New user I have a 3in7 HAT I was wondering if this ever got fixed and if there is a resolution?

[2022-10-17 19:27] txoof commented on #50
No solutions for the 3.7. We kind of stalled out on development for this. I don't have a 3.7" to test with.

@aaronr8684 have you made any progress?

[2022-10-17 20:12] aaronr8684 commented on #50
Yea I don't think I got to a stable point in the code with this and my job changed quite a bit and has kept me pretty busy from side projects. I have been meaning to pick this back up and work on it a bit. Maybe I can take a look at it over the next few weeks.

@stumpey121 If you are at all familiar with python, I would recommend the work-around that I was able to figure out above. That will get y

[2022-10-17 20:28] stumpey121 commented on #50
Hi
I stalled out and took the easy root and swopped out for a 2in7 :)

But I do have a pi zero in the spares box I so will fire that up and try the fix :)

Thanks for coming back

Steve

[2022-11-14 20:24] txoof commented on #68
Closed due to no updates from submitter.

[2022-11-14 20:24] #68 closed